# Editor configuration, see https://editorconfig.org
root = true

[*] # top-most EditorConfig file (https://editorconfig.org/#file-location)
charset = utf-8 # utf-8, utf-8-bom, utf-16be, utf-16le
indent_style = tab # space, tab
indent_size = 3 # tab width (only used if indent_style is tab)
insert_final_newline = true # insert a newline at the end of the file if one does not exist
trim_trailing_whitespace = true # remove any whitespace characters preceding newline characters

[*.md]

[*.ts]
quote_type = double # single, double (only used if indent_style is space)

[*.js]

[*.md]
max_line_length = off # disable line length check for markdown files

[*.json]
trim_trailing_whitespace = false
