# Editor configuration, see https://editorconfig.org
root = true

[*] # top-most EditorConfig file (https://editorconfig.org/#file-location)
charset = utf-8 # utf-8, utf-8-bom, utf-16be, utf-16le
indent_style = space # space, tab
indent_size = 2 
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
