<header class="p-3 mb-3 border-bottom bg-primary shadow">
	<div class="container">
		<div
			class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
		>
			<a
				href="/"
				class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
			>
				<svg
					class="bi me-2"
					width="40"
					height="32"
					role="img"
					aria-label="Bootstrap"
				>
					<use xlink:href="#bootstrap" />
				</svg>
			</a>

			<ul
				class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
			>
				<li>
					<a href="/create" class="nav-link px-2 link-light">New Album</a>
				</li>
				<li>
					<a href="/search" class="nav-link px-2 link-light"
						>Album Search</a
					>
				</li>
				<li>
					<a href="/about" class="nav-link px-2 link-light">About</a>
				</li>
				<li>
					<a href="/upload-image" class="nav-link px-2 link-light"
						>Upload Image</a
					>
				</li>
				<li>
					<a href="/signin" class="nav-link px-2 link-light">Sign In</a>
				</li>
				<li>
					<a href="/signup" class="nav-link px-2 link-light">Sign Up</a>
				</li>
			</ul>

			<!-- AUTH -->
			<ng-container *ngIf="auth.user | async as user; else showSignIn">
				<div class="d-grid gap-2">
					<button class="btn btn-light btn-sm">
						{{ user.displayName }}
					</button>
					<button
						class="btn btn-warning btn-sm"
						(click)="onClickSignOut()"
					>
						Sign Out
					</button>
				</div>
			</ng-container>
			<ng-template #showSignIn>
				<a class="btn btn-warning btn-sm" href="/signin">Sign In</a>
			</ng-template>
		</div>
	</div>
</header>
