<main class="container">
	<!-- SIGN UP FORM -->
	<form class="form-signup m-auto" novalidate (ngSubmit)="createUserWithEmailAndPassword()">
		<div class="text-center">
			<img
				class="mb-4"
				src="../../../assets/logos/angular-logo.svg"
				alt=""
				width="72"
				height="57"
			/>
			<h1 class="h3 mb-3 text-center">Create a new account.</h1>
		</div>

		<!-- EMAIL (email) -->
		<div class="mb-3">
			<label class="form-label">Email address</label>
			<input
				type="email"
				class="form-control"
				formControlName="email"
				placeholder="name@example.com"
			/>
		</div>

		<!-- PASSWORD (password) -->
		<div class="mb-3">
			<label class="form-label">Password</label>
			<input type="password" class="form-control" placeholder="Password" />
		</div>

		<div class="d-grid gap-2">
			<button class="btn btn-primary btn-sm" type="submit">Sign Up</button>
			<a href="/signin" class="btn btn-light btn-sm">Already have an account?</a>
		</div>

	</form>
</main>
