<main class="container">

	<div class="text-center">
		<h3>Sign In</h3>
		<p>Access your account</p>
	</div>

	<!-- FORM -->
	<form novalidate (ngSubmit)="onSubmitSignIn()">
		<!-- EMAIL (email) -->
		<div class="mb-3">
			<label class="form-label">EMAIL ADDRESS</label>
			<input type="email" class="form-control" formControlName="email" placeholder="name@example.com"/>
		</div>

		<!-- PASSWORD (password) -->
		<div class="mb-3">
			<label class="form-label">PASSWORD</label>
			<input type="password" class="form-control" placeholder="Password"/>
		</div>

		<button type="submit" class="btn btn-primary">Sign In</button>
		<button type="submit" class="btn btn-primary">Create an Account</button>
	</form>
</main>
