<div class="album-grid">

    <mat-grid-list cols="4" rowHeight="1:1">
  
      <mat-grid-tile *ngFor="let album of albums">
  
        <mat-card class="album-card" fxLayout="column">
  
          <mat-card-header>
            <mat-card-title>{{ album.title }}</mat-card-title>
            <mat-card-subtitle>{{ album.artist }}</mat-card-subtitle>
          </mat-card-header>
  
          <span fxFlex="1 1 auto"></span>
  
          <mat-card-content>
            <p></p>
          </mat-card-content>
  
          <mat-card-actions fxLayout="row">
  
            <a mat-button color="primary" routerLink="/projects/{{ album._id }}">VIEW</a>
            
          </mat-card-actions>
  
        </mat-card>
  
      </mat-grid-tile>
    </mat-grid-list>
  </div>