<form [formGroup]="albumForm" novalidate (ngSubmit)="onSubmit()">

    <mat-card class="album-form">

        <mat-card-header>
            <mat-card-title>Add Album</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <!-- TITLE (title) -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
                <mat-error>A title is <strong>required.</strong></mat-error>
            </mat-form-field>

            <!-- ARTIST (artist) -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Artist</mat-label>
                <input matInput type="text" formControlName="artist">
                <mat-error>A artist is <strong>required.</strong></mat-error>
            </mat-form-field>

            <!-- RELEASE DATE (releaseDate) FOLLOW UP -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Release Date</mat-label>
                <input matInput type="text" formControlName="releaseDate">
                <mat-error>A release data is <strong>required.</strong></mat-error>
            </mat-form-field>

            <!-- LABEL (label) -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Label</mat-label>
                <input matInput type="text" formControlName="label">
                <mat-error>Please provide a label</mat-error>
            </mat-form-field>

            <!-- STUDIO (studio)-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Studio</mat-label>
                <input matInput type="text" formControlName="studio">
                <mat-error>Please provide the name of the studio</mat-error>
            </mat-form-field>

            <!-- GENRE (genre)-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Genre</mat-label>
                <input matInput type="text" formControlName="genre">
                <mat-error>Please provide the name of the studio</mat-error>
            </mat-form-field>

            <!-- IMAGE URL (imageUrl)-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Image Url</mat-label>
                <input matInput type="url" formControlName="imageUrl">
                <mat-error>Please provide the name of the studio</mat-error>
            </mat-form-field>

            <!-- SUMMARY (summary)-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Summary</mat-label>
                <textarea matInput rows="10" formControlName="summary"></textarea>
                <mat-error>Please provide the name of the studio</mat-error>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Add Album</button>
        </mat-card-actions>

    </mat-card>

</form>