/* You can add global styles to this file, and also import other style files */

// import google fonts here

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&family=Open+Sans:wght@300;500;700&display=swap");

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: rgba(248, 249, 250);
	opacity: 1;
}
